// Custom style...
@import "ribbon";
@import "layouts";

/* STARTING POINT */
#card {
    background-color: #228B22;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 25px;
}


#card1 {
    background-color: #FFFF00;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

#card2 {
    background-color: #9400D3;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

#card3 {
    background-color: #1E90FF;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

/* javascript  event sa announcement*/
#myDIV {
    margin: 25px;
    width: 550px;
    height: 100px;
    background: #FF7F50;
    position: relative;
    font-size: 20px;
    border-radius: 25px;
}


@-webkit-keyframes mymove {
    from {
        top: 0px;
    }

    to {
        top: 200px;
    }
}

@keyframes mymove {
    from {
        top: 0px;
    }

    to {
        top: 200px;
    }
}

/* end of javascript event sa announcement*/

/*   dropdown_navbar sa pinaka ta-as*/

body {
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*   end of navbar na hamburger line sa ta as.*/

