// Custom style...
@import "ribbon";
@import "layouts";

/* STARTING POINT */
<<<<<<< HEAD

#card{
    background-color: cadetblue;
}
body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    margin-top: 50px;
    text-align: center;
    
}
.header h2{
    margin: 0 0 15px 0;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    color: hsl(214, 12%, 34%);
    font-size: 2rem;
    font-weight: 600;
    text-decoration-color: black;
}

#card-1{
    
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
  

}
#card-2{
    
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
  

}
#card-3{
    
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
  

}
#card-4{
    
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
  

}
#card-5{
    
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
  

}
#card-6{
    
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.33rem;
}

.card p {
    margin: 0;
    float:left;
    color: hsl(229, 6%, 66%);
    font-size: 0.86rem;
    line-height: 22px;

}
=======
#card {
    background-color: #228B22;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 25px;
}


#card1 {
    background-color: #FFFF00;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

#card2 {
    background-color: #9400D3;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

#card3 {
    background-color: #1E90FF;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}
/* SAVEDMATERIAL  SA BABA*/
#rcorners1 {
    border-radius: 15px 50px 30px;
    background: #c56bc5;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners2 {
    border-radius: 15px 50px 30px;
    background: #1ea1c8;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners3 {
    border-radius: 15px 50px 30px;
    background: #58ddcb;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners4 {
    border-radius: 15px 50px 30px;
    background: #6abfe0;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners5 {
    border-radius: 15px 50px 30px;
    background: #21ad9a;
    padding: 20px;
    width: 200px;
    height: 240px;
}
/* SAVEDMATERIAL  SA BABA END HERE!*/





>>>>>>> 778e0e37b6739fbf1f90c8c229dc941b9a95e859

