.dropdown {
    display: flex !important;
    align-items: center !important;
}
.dropdown-menu {
    & > a {
        display: flex !important;
        align-items: center !important;
        & > i {
            width: 25px !important;
        }
    }
}

.btn {
    box-shadow: 0 0 0 transparent !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.btn-muted {
    background-color: transparent !important;
    color: $gray !important;
}
.btn-black {
    background-color: transparent !important;
    color: $dark !important;
}

.btn-muted:hover {
    * {
        color: rgba($color: $dark, $alpha: 1) !important;
    }
}
.btn-black:hover {
    * {
        color: rgba($color: $black, $alpha: 1) !important;
    }
}

//plugins

/* Context Menu */
.context-menu-icon {
    &::before {
        color: $dark !important;
        font-size: 15px !important;
    }
    &.context-menu-hover:before {
        color: rgba($color: $dark, $alpha: .8) !important;
    }
  }

.context-menu-list {
    min-width: 218px !important;
    max-width: 218px !important;
    box-shadow: 0 0 0 transparent !important;
  }
  
  .context-menu-item {
    color: $black;
    padding-left: 35px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .context-menu-item.context-menu-hover {
    background-color: $lightGray !important;
    color: rgba($color: $black, $alpha: .9) !important;
    cursor: pointer;
  }

// .focus-visible {
//     border-color: red !important;
//     outline-color: red !important;

// }

// input[data-focus-visible-added] {
//     border-color: red !important;
//     outline-color: red !important;
// }

// .form-control:focus {
//     border-color: red !important;
//     outline-color: red !important;
// }

// .form-control {
//     border: 0px !important;
//     outline: 0px !important;
// }
// textarea:focus, 
// textarea.form-control:focus, 
// input.form-control:focus, 
// input[type=text]:focus, 
// input[type=password]:focus, 
// input[type=email]:focus, 
// input[type=number]:focus, 
// [type=text].form-control:focus, 
// [type=password].form-control:focus, 
// [type=email].form-control:focus, 
// [type=tel].form-control:focus, 
// [contenteditable].form-control:focus {
//   box-shadow: inset 0 0 0 #fff !important;
//   background-color: $body-bg;
// }