// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$primary: #0089d0;
$blue-100: #b3dcf1;
$blue-200: #80c4e8;
$blue-300: #4dacde;
$blue-400: #1a95d5;
$blue-500: #0089d0;
